/* --------------- General ---------------- */

:root {
  --yellow: #ECA539;
  --red-dark: #C00E20;
  --red: #F22539;
  --black: #353535;
  --gray: #5E5E5E;
  --gray-clear: #BFBFBF;
  --white-gray: #E8E8E8;
  --white-dark: #F5F5F5;
  --white: #F9F9F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Arial, sans-serif;
}

body {
  background-color: var(--white);
}

button, input, a {
  all: unset;
}

/* ---------------- Start ----------------- */

.container__start {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.container__pikachu {
  background-color: var(--red);
  width: 206px;
  height: 206px;
  position: relative;
  border-radius: 100%;
  border: 2px solid var(--black);
}

.pikachu__start {
  width: 325px;
  height: 288px;
  position: absolute;
  bottom: -12.5px;
  right: -71.5px;
}

.h1__start {
  color: var(--black);
  font-weight: 700;
  size: 26px;
  line-height: 31.2px;
  text-align: center;
}

.p__start {
  color: var(--gray);
  width: 315px;
  height: 82px;
  font-weight: 500;
  size: 18px;
  line-height: 27px;
  text-align: center;
}

.button__start {
  background-color: var(--red);
  color: var(--white);
  width: 131px;
  height: 44px;
  padding: 11px 20px;
  border-radius: 60px;
  text-align: center;
}

.button__start:hover, .button__start:focus {
  background-color: var(--red-dark);
}

/* --------------- Loading --------------- */

.loading {
  width: 106px;
  height: 106px;
}

/* ----------------- Main ---------------- */

.container__alls {
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  margin-top: 35px ;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 50px;
}

.button {
  background-color: var(--gray-clear);
  width: 150px;
  height: 44px;
  border-radius: 60px;
}

.button__active, .button:hover {
  background-color: var(--red);
}

.container__search {
  width: 315px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__search {
  background-color: white;
  color: var(--black);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding-left: 40px;
  box-shadow: 0px 2px 10px 0px #0000000b;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

}

.icon__search {
  position: absolute;
  left: 13px;
}

.input__search::placeholder{
  color: var(--gray-clear);
  font-family: Lato, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.container__list {
  max-width: 570px;
  display: flex;
}

.card__pokemon {
  background-color: white;
  width: 315px;
  height: 60px;
  padding: 0px 10px 0px 20px ;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}







/* ------------ Media Queries ------------ */
