/* --------------- General ---------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

:root {
  --yellow: #ECA539;
  --red-dark: #C00E20;
  --red: #F22539;
  --black: #353535;
  --gray: #5E5E5E;
  --gray-clear: #BFBFBF;
  --white-gray: #E8E8E8;
  --white-dark: #F5F5F5;
  --white: #F9F9F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Arial, sans-serif;
}

body {
  background-color: var(--white);
}

button, input, a {
  all: unset;
}

/* ---------------- Start ----------------- */

.container__start {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.container__pikachu {
  background-color: var(--red);
  width: 206px;
  height: 206px;
  position: relative;
  border-radius: 100%;
  border: 2px solid var(--black);
}

.pikachu__start {
  width: 325px;
  height: 288px;
  position: absolute;
  bottom: -13px;
  right: -71.5px;
}

.h1__start {
  color: var(--black);
  font-weight: 700;
  size: 26px;
  line-height: 31.2px;
  text-align: center;
}

.p__start {
  color: var(--gray);
  width: 315px;
  height: 82px;
  font-weight: 500;
  size: 18px;
  line-height: 27px;
  text-align: center;
}

.button__start {
  background-color: var(--red);
  color: var(--white);
  width: 131px;
  height: 44px;
  padding: 11px 20px;
  border-radius: 60px;
  text-align: center;
  cursor: pointer;
}

.button__start:hover, .button__start:focus {
  background-color: var(--red-dark);
}

/* --------------- Loading --------------- */

.container__loading {
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.loading {
  width: 106px;
  height: 106px;
  transform: rotate(45deg);
  animation: rotate 1s linear forwards;;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); 
  }
}

/* ----------------- Main ---------------- */

.container__alls {
  background-color: var(--white);
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap:30px;
}

.container__nav {
  background-color: white;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0px -5px 4px 0px #0000000D;
}

.button {
  background-color: var(--gray-clear);
  color: var(--white);
  width: 150px;
  height: 44px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.button__active, .button:hover {
  background-color: var(--red);
}

.container__search {
  width: 315px;
  height: 50px;
  padding: 50px 0px 30px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__search {
  background-color: white;
  color: var(--black);
  width: 315px;
  height: 50px;
  border-radius: 5px;
  padding-left: 40px;
  box-shadow: 0px 2px 10px 0px #0000000b;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: 0em;
  text-align: left;
}

.icon__search {
  position: absolute;
  left: 13px;
}

.input__search::placeholder{
  color: var(--gray-clear);
  font-family: montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  letter-spacing: 0em;
  text-align: left;
}

.container__list {
  margin: 0px 30px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.card__pokemon {
  background-color: white;
  width: 315px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.card__pokemon a {
  width: 70%;
  padding: 10px 0px 10px 20px;
}

.container__modal {
  background-color: rgba(0, 0, 0, 0.600);
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal{
  background-color: var(--white);
  width: 315px;
  height: 506px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.close__modal {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  position: absolute;
  top: 15px;
  left: 274px;
  cursor: pointer;
}

.close__modal:hover {
  box-shadow: 1px 1px 6px  var(--gray);
}

.container__header__modal {
  background: url(./assets/img/background.png);
  background-position-x: -160px;
  width: 315px;
  height: 220px;
  border-radius: 5px 5px 0px 0px;
  position: relative; 
}

.pokemon__modal {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 67px;
  top: 20px;
}

.container__details {
  width: 100%;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.container__details p {
  color: var(--gray);
  width: 100%;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  border-bottom: 1.5px solid var(--white-gray);
}

.container__details p span {
  font-weight: 700;
  line-height: 27px;
}

.container__details .types__details {
  font-size: 18px;
  font-weight: 700;
}

.container__details .types__details span{
  font-size: 18px;
  font-weight: 500;
}

.container__footer__modal {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-bottom: 15px;
}

.button__share__modal {
  background: var(--red);
  padding: 0px 10px 0px 10px;
}

.button__share__modal:hover {
  background-color: var(--red-dark);
}

.card__pokemon .fav__button {
  background-image: url(./assets/img/fav_disable.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  padding-right: 15px;
}

.card__pokemon .fav__active {
  background-image: url(./assets/img/fav__active.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
  padding-right: 15px;
}

.container__footer__modal .fav__button {
  background-image: url(./assets/img/fav_disable.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
}

.container__footer__modal .fav__active {
  background-image: url(./assets/img/fav__active.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 44px;
  height: 44px;
}

.fav__active {
  background-image: url(./assets/img/fav__active.png);
}

.fav__button:focus {
  background-image: url(./assets/img/fav_disable.png);
}

.container__message {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}

.container__message h1 {
  color: var(--black);
  font-family: Lato;
  font-size: 36px;
  font-weight: 700;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;

}

.container__message p {
  color: var(--gray);
  width: 100%;
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;

}

.message__favorites {
  color: var(--black);
  padding: 0px 30px;
  text-align: center;
  font-size: 20px;
  text-align: center;
}




/* ------------ Media Queries ------------ */

@media (min-width: 768px) {

  .p__start {
    width: 570px;
    height: 54px;
  }

  .container__search {
    width: 570px;
  }

  .input__search {
    width: 570px;
  }

  .card__pokemon {
    width: 570px;
  }

  .button {
    width: 275px;
  }

  .modal{
    width: 570px;
  }

  .container__header__modal {
    width: 570px;
  }

  .close__modal {
    top: 15px;
    left: 529px;

  }
  .pokemon__modal {
    left: 194px;
    top: 20px;
  }

  .container__footer__modal {
    width: 100%;
    justify-content: space-between;
    padding: 0px 30px 15px 30px;
  }

  .container__footer__modal .button {
    width: 150px;
  }

}