/* --------------- General ---------------- */

.root {
  --yellow: #ECA539;
  --red-dark: #C00E20;
  --red: #F22539;
  --black: #353535;
  --gray: #5E5E5E;
  --gray-clear: #BFBFBF;
  --white-gray: #E8E8E8;
  --white-dark: #F5F5F5;
  --white: #F9F9F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Arial, sans-serif;
}

/* ---------------- Start ----------------- */

.container__pikachu {
  background-color: var(--red);
  width: 206px;
  height: 206px;
  border-radius: 100%;
  border: 2px solid black;
}

.pikachu__start {
  width: 325px;
  height: 288px;
}

.h1__start {
  color: var(--black);
  font-weight: 700;
  size: 26px;
  line-height: 31.2px;
  text-align: center;
}

.p__start {
  color: var(--gray);
  font-weight: 500;
  size: 18px;
  line-height: 27px;
  text-align: center;
}

.button__start {
  background-color: var(--red);
  color: var(--white);
  width: 131px;
  height: 44px;
  border-radius: 60px;
  padding: 11px 20px;
  gap: 20px;
}

.button__start:hover, .button__start:focus {
  background-color: var(--red-dark);
}

/* --------------- Loading --------------- */

.loading {
  width: 106px;
  height: 106px;
}

/* ----------------- Main ---------------- */

.button {
  background-color: var(--gray-clear);
  width: 150px;
  height: 44px;
  border-radius: 60px;
}

.button__active, .button:hover {
  background-color: var(--red);
}









/* ------------ Media Queries ------------ */
